<div class="flex">
<div class="pickup-icon">
        {% render 'icon-available' %}
      </div>
      <div>
        <p class="mb-0">Doprava společností GEIS</p>
        <p class="mb-0 text-sm"></p>
</div>
</div>