<div>
<div class="pickup-icon">
        {% render 'icon-available' %}
      </div>
      <div>
        <p class="mb-0">
          {% if product.metafields.custom.dopravce_u_produktu != blank %}
            {{ product.metafields.custom.dopravce_u_produktu }}
          {% else %}
            Doprava společností GEIS
            {{ product.metafields.custom.dopravce_u_produktu }}
          {% endif %}
        </p>
        <p class="mb-0 text-sm"></p>
</div>
</div>